    # Python
    __pycache__/
    *.py[cod]
    venv/

    # Logs
    *.log
    logs/

    # IDEs
    .idea/

    # Environment
    .env

    # Node
    node_modules/
    npm-debug.log
    package-lock.json

    # Sass
    .sass-cache/

    # System files
    .DS_Store
    *.gz

    # Supabase
    supabase/

    # Static files
    staticfiles/**/*.scss
    staticfiles/**/*.*.scss
    staticfiles/**/*.*.css
    staticfiles/**/*.*.png
    staticfiles/**/*.*.svg
    staticfiles/**/*.*.ico
    staticfiles/**/*.*.txt
    staticfiles/**/*.*.svg
    staticfiles/**/*.*.pdf
    staticfiles/**/*.*.jpg
    staticfiles/**/*.*.jpeg
    staticfiles/**/*.*.gif
    staticfiles/**/*.*.webp

    # Exceptions  