{% load static %}

<section
  class="brand__section brand__section--bg border__bottom section--padding"
>
  <div class="container">
    <div class="brand__section--inner">
      <div class="brand__logo--child">
        <div class="brand__logo--items">
          <img
            class="brand__logo--img brand_logo_light"
            src="{% static 'app/assets/img/logo/vue.png' %}"
            alt="brand-logo"
          />
          <img
            class="brand__logo--img brand_logo_dark"
            src="{% static 'app/assets/img/logo/vue.png' %}"
            alt="brand-logo"
          />
        </div>
        <div class="brand__logo--items">
          <img
            class="brand__logo--img brand_logo_light"
            src="{% static 'app/assets/img/logo/javascript.png' %}"
            alt="brand-logo"
          />
          <img
            class="brand__logo--img brand_logo_dark"
            src="{% static 'app/assets/img/logo/javascript.png' %}"
            alt="brand-logo"
          />
        </div>
      </div>
      <div class="brand__logo--child">
        <div class="brand__logo--items">
          <img
            class="brand__logo--img brand_logo_light"
            src="{% static 'app/assets/img/logo/django.png' %}"
            alt="brand-logo"
          />
          <img
            class="brand__logo--img brand_logo_dark"
            src="{% static 'app/assets/img/logo/django.png' %}"
            alt="brand-logo"
          />
        </div>
        <div class="brand__logo--items">
          <img
            class="brand__logo--img brand_logo_light"
            src="{% static 'app/assets/img/logo/bootstrap.png' %}"
            alt="brand-logo"
          />
          <img
            class="brand__logo--img brand_logo_dark"
            src="{% static 'app/assets/img/logo/bootstrap.png' %}"
            alt="brand-logo"
          />
        </div>
      </div>
      <div class="brand__logo--child">
        <div class="brand__logo--items">
          <img
            class="brand__logo--img brand_logo_light"
            src="{% static 'app/assets/img/logo/flutter.png' %}"
            alt="brand-logo"
          />
          <img
            class="brand__logo--img brand_logo_dark"
            src="{% static 'app/assets/img/logo/flutter.png' %}"
            alt="brand-logo"
          />
        </div>
        <div class="brand__logo--items">
          <img
            class="brand__logo--img brand_logo_light"
            src="{% static 'app/assets/img/logo/supabase.png' %}"
            alt="brand-logo"
          />
          <img
            class="brand__logo--img brand_logo_dark"
            src="{% static 'app/assets/img/logo/supabase.png' %}"
            alt="brand-logo"
          />
        </div>
      </div>
      <div class="brand__logo--child">
        <div class="brand__logo--items">
          <img
            class="brand__logo--img brand_logo_light"
            src="{% static 'app/assets/img/logo/aws.png' %}"
            alt="brand-logo"
          />
          <img
            class="brand__logo--img brand_logo_dark"
            src="{% static 'app/assets/img/logo/aws.png' %}"
            alt="brand-logo"
          />
        </div>
        <div class="brand__logo--items">
          <img
            class="brand__logo--img brand_logo_light"
            src="{% static 'app/assets/img/logo/wordpress.png' %}"
            alt="brand-logo"
          />
          <img
            class="brand__logo--img brand_logo_dark"
            src="{% static 'app/assets/img/logo/wordpress.png' %}"
            alt="brand-logo"
          />
        </div>
      </div>
    </div>
  </div>
</section>
