{% load static %}

<section class="hero__section hero__section--bg" id="home">
  <div class="container">
    <div class="hero__section--inner d-flex align-items-center">
      <div class="hero__thumbnail position__relative">
        <img
          class="hero__thumbnail--media light_img"
          src="{% static 'app/assets/img/hero/hero-image.png' %}"
          alt="img"
        />
        <img
          class="hero__thumbnail--media dark_img"
          src="{% static 'app/assets/img/hero/hero-image.png' %}"
          alt="img"
        />
        <div class="projects__budget d-flex align-items-center">
          <span class="projects__budget--icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="45"
              height="45"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-check-circle"
            >
              <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
              <polyline points="22 4 12 14.01 9 11.01"></polyline>
            </svg>
          </span>
          <div class="projects__budget--content">
            <span class="projects__budget--ammount">19+</span>
            <span class="projects__budget--text">Complete Projects</span>
          </div>
        </div>
        <span class="logo__positioning one">
          <img
            src="{% static 'app/assets/img/logo/vue-logo.png' %}"
            alt="logo"
          />
        </span>
        <span class="logo__positioning two">
          <img
            src="{% static 'app/assets/img/logo/django-logo.png' %}"
            alt="logo"
          />
        </span>        <span class="logo__positioning four">
          <img
            src="{% static 'app/assets/img/logo/laravel-logo.png' %}"
            alt="logo"
          />
        </span>
        <span class="logo__positioning three">
          <img
            src="{% static 'app/assets/img/logo/tailwind-logo.png' %}"
            alt="logo"
          />
        </span>
      </div>
      <div class="hero__content">
        <span class="hero__content--subtitle text__secondary mb-10"
          >HELLO I'M</span
        >
        <h2 class="hero__content--title mb-15">Alexandre Spindola</h2>
        <h3 class="hero__content--subtitle2 mb-20">Full Stack Web Developer</h3>
        <p class="hero__content--desc mb-30">
          I can help you build beautiful, user-friendly, and scalable websites and applications with Astro, Vue, Django, Tailwind, Flutter, GCP, Digital Ocean, WordPress and other technologies.
        </p>
        <div class="hero__content--footer d-flex align-items-center">
          <a class="btn hero__content--btn" href="#about">About Me</a>
          <div class="social__share d-flex align-items-center">
            <span class="social__share--title">Follow Me: </span>
            <ul class="social__share--wrapper d-flex">
              <li class="social__share--child">
                <a
                  class="social__share--link"
                  href="https://www.linkedin.com/in/alexandrespindola/"
                  target="_blank"
                >
                  <svg
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="20px"
                    height="20px"
                  >
                    <path
                      d="M22.225 0H1.77C.79 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.77 24h20.452C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0zM7.257 20.524H3.437V9h3.82v11.524zM5.338 7.51c-1.225 0-2.22-.996-2.22-2.228 0-1.23.995-2.23 2.22-2.23 1.222 0 2.215.996 2.215 2.228 0 1.232-.993 2.23-2.215 2.23zm15.168 13.014h-3.814v-5.569c0-1.328-.026-3.037-1.852-3.037-1.852 0-2.136 1.445-2.136 2.939v5.667H9.69V9h3.67v1.569h.052c.51-.964 1.756-1.98 3.616-1.98 3.872 0 4.578 2.547 4.578 5.862v6.073z"
                    />
                  </svg>
                  <span class="visually-hidden">LinkedIn</span>
                </a>
              </li>
              <li class="social__share--child">
                <a
                  class="social__share--link"
                  href="https://github.com/alexandrespindola"
                  target="_blank"
                >
                  <svg
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="20px"
                    height="20px"
                  >
                    <path
                      d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6 .113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338 .724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744 .084-.729 .084-.729 1.205 .084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495 1 .104-.776 .417-1.305 .76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31 .465-2.38 1.235-3.22-.135-.303-.54-1.523 .105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02 .006 2.04 .138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23 .645 1.653 .24 2.873 .12 3.176 .77 .84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92 .42 .36 .81 1.096 .81 2.22 0 1.605-.015 2.905-.015 3.3 0 .315 .21 .69 .825 .57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
                    />
                  </svg>
                  <span class="visually-hidden">GitHub</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
