{% load static %}

<div class="offcanvas__header">
  <div class="offcanvas__inner">
    <div class="offcanvas__logo">
      <a class="offcanvas__logo_link" href="/">
        <img
          src="{% static 'app/assets/img/logo/nav-log.png' %}"
          alt="Logo-img"
          width="158"
          height="36"
        />
      </a>
      <button class="offcanvas__close--btn" data-offcanvas>close</button>
    </div>
    <nav class="offcanvas__menu">
      <ul class="offcanvas__menu_ul">
        <li class="offcanvas__menu_li">
          <a class="offcanvas__menu_item" href="#home">Home</a>
        </li>
        <li class="offcanvas__menu_li">
          <a class="offcanvas__menu_item" href="#about">About</a>
        </li>
        <li class="offcanvas__menu_li">
          <a class="offcanvas__menu_item" href="#services">Services</a>
        </li>
        <li class="offcanvas__menu_li">
          <a class="offcanvas__menu_item" href="#portfolio">Portfolio</a>
        </li>
        <li class="offcanvas__menu_li">
          <a class="offcanvas__menu_item" href="#contact">Contact</a>
        </li>
      </ul>
      <div class="offcanvas__download--btn">
        <a
          href="{% static 'app/assets/pdf/EN_Alexandre-Spindola_CV.pdf' %}"
          download
        >
          <button class="primary__btn download__btn">
            <svg
              class="download__btn--svg"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
              <polyline points="7 10 12 15 17 10"></polyline>
              <line x1="12" y1="15" x2="12" y2="3"></line>
            </svg>
            Download CV | EN
          </button>
        </a>
      </div>
      <div class="offcanvas__download--btn">
        <a
          href="{% static 'app/assets/pdf/ES_Alexandre-Spindola_CV.pdf' %}"
          download
        >
          <button class="primary__btn download__btn">
            <svg
              class="download__btn--svg"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
              <polyline points="7 10 12 15 17 10"></polyline>
              <line x1="12" y1="15" x2="12" y2="3"></line>
            </svg>
            Download CV | ES
          </button>
        </a>
      </div>
      <div class="offcanvas__download--btn">
        <a
          href="{% static 'app/assets/pdf/PT_Alexandre-Spindola_CV.pdf' %}"
          download
        >
          <button class="primary__btn download__btn">
            <svg
              class="download__btn--svg"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
              <polyline points="7 10 12 15 17 10"></polyline>
              <line x1="12" y1="15" x2="12" y2="3"></line>
            </svg>
            Download CV | PT
          </button>
        </a>
      </div>
    </nav>
  </div>
</div>