{% load static %}

<section
class="portfolio__section portfolio__section--bg section--padding"
id="portfolio"
>
<div class="container">
  <div
    class="section__heading--topbar d-flex align-items-center justify-content-between mb-50"
  >
    <div class="section__heading max-width-580">
      <span class="section__heading--subtitle text__secondary"
        >PORTFOLIO</span
      >
      <h2 class="section__heading--title">
        Building dynamic and interactive websites and web applications
      </h2>
    </div>
    <div class="section__heading--right max-width-450">
      <p class="section__heading--desc">
        Here you will find a selection of web development projects I have
        recently completed. Each listed item showcases my skills in various
        technologies and programming languages, such as HTML, CSS,
        JavaScript, frameworks like Vue and Django, and CMS like WordPress.
        Feel free to explore each project and examine its source code.
      </p>
    </div>
  </div>
  <div class="portfolio__section--inner">
    <div class="button-group filters-button-group mb-50">
      <button
        class="filters__button--items button is-checked"
        data-filter="*"
      >
        Show All
      </button>
      <button class="filters__button--items button" data-filter=".web">
        Web
      </button>
      <button
        class="filters__button--items button"
        data-filter=".development"
      >
        Development
      </button>
      <button class="filters__button--items button" data-filter=".mobile">
        Mobile
      </button>
      <button
        class="filters__button--items button"
        data-filter=".performance"
      >
        Performance
      </button>
      <button class="filters__button--items button" data-filter=".seo">
        SEO
      </button>
    </div>
    <div class="portfolio__grid mb--n30">
      <div class="element-item web" data-category="web">
        <div class="portfolio__card">
          <a
            href="#"
            class="popup-modal--open display-block"
            data-bs-toggle="modal"
            data-bs-target="#portfolioModal"
          >
            <div class="portfolio__image--card">
              <img
                src="{% static 'app/assets/img/other/portfolio1.png' %}"
                alt="img"
              />
            </div>
            <div class="portfolio__content">
              <span class="portfolio__zoom text-white">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="36"
                  height="36"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-maximize"
                >
                  <path
                    d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"
                  ></path>
                </svg>
              </span>
              <h3 class="portfolio__title text-white">Hello</h3>
              <p class="portfolio__desc text-white">
                Promote your blog posts, case udie, and thehe branded
                videos.
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="element-item performance" data-category="performance">
        <div class="portfolio__card">
          <a
            href="#"
            class="popup-modal--open display-block"
            data-bs-toggle="modal"
            data-bs-target="#portfolioModal"
          >
            <div class="portfolio__image--card">
              <img
                src="{% static 'app/assets/img/other/portfolio2.png' %}"
                alt="img"
              />
            </div>
            <div class="portfolio__content">
              <span class="portfolio__zoom text-white">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="36"
                  height="36"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-maximize"
                >
                  <path
                    d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"
                  ></path>
                </svg>
              </span>
              <h3 class="portfolio__title text-white">Illustration</h3>
              <p class="portfolio__desc text-white">
                Promote your blog posts, case udie, and thehe branded
                videos.
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="element-item development" data-category="development">
        <div class="portfolio__card">
          <a
            href="#"
            class="popup-modal--open display-block"
            data-bs-toggle="modal"
            data-bs-target="#portfolioModal"
          >
            <div class="portfolio__image--card">
              <img
                src="{% static 'app/assets/img/other/portfolio3.png' %}"
                alt="img"
              />
            </div>
            <div class="portfolio__content">
              <span class="portfolio__zoom text-white">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="36"
                  height="36"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-maximize"
                >
                  <path
                    d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"
                  ></path>
                </svg>
              </span>
              <h3 class="portfolio__title text-white">Illustration</h3>
              <p class="portfolio__desc text-white">
                Promote your blog posts, case udie, and thehe branded
                videos.
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="element-item mobile" data-category="mobile">
        <div class="portfolio__card">
          <a
            href="#"
            class="popup-modal--open display-block"
            data-bs-toggle="modal"
            data-bs-target="#portfolioModal"
          >
            <div class="portfolio__image--card">
              <img
                src="{% static 'app/assets/img/other/portfolio4.png' %}"
                alt="img"
              />
            </div>
            <div class="portfolio__content">
              <span class="portfolio__zoom text-white">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="36"
                  height="36"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-maximize"
                >
                  <path
                    d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"
                  ></path>
                </svg>
              </span>
              <h3 class="portfolio__title text-white">Illustration</h3>
              <p class="portfolio__desc text-white">
                Promote your blog posts, case udie, and thehe branded
                videos.
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="element-item web" data-category="web">
        <div class="portfolio__card">
          <a
            href="#"
            class="popup-modal--open display-block"
            data-bs-toggle="modal"
            data-bs-target="#portfolioModal"
          >
            <div class="portfolio__image--card">
              <img
                src="{% static 'app/assets/img/other/portfolio5.png' %}"
                alt="img"
              />
            </div>
            <div class="portfolio__content">
              <span class="portfolio__zoom text-white">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="36"
                  height="36"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-maximize"
                >
                  <path
                    d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"
                  ></path>
                </svg>
              </span>
              <h3 class="portfolio__title text-white">Illustration</h3>
              <p class="portfolio__desc text-white">
                Promote your blog posts, case udie, and thehe branded
                videos.
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="element-item performance" data-category="performance">
        <div class="portfolio__card">
          <a
            href="#"
            class="popup-modal--open display-block"
            data-bs-toggle="modal"
            data-bs-target="#portfolioModal"
          >
            <div class="portfolio__image--card">
              <img
                src="{% static 'app/assets/img/other/portfolio6.png' %}"
                alt="img"
              />
            </div>
            <div class="portfolio__content">
              <span class="portfolio__zoom text-white">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="36"
                  height="36"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-maximize"
                >
                  <path
                    d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"
                  ></path>
                </svg>
              </span>
              <h3 class="portfolio__title text-white">Illustration</h3>
              <p class="portfolio__desc text-white">
                Promote your blog posts, case udie, and thehe branded
                videos.
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="element-item development" data-category="development">
        <div class="portfolio__card">
          <a
            href="#"
            class="popup-modal--open display-block"
            data-bs-toggle="modal"
            data-bs-target="#portfolioModal"
          >
            <div class="portfolio__image--card">
              <img
                src="{% static 'app/assets/img/other/portfolio7.png' %}"
                alt="img"
              />
            </div>
            <div class="portfolio__content">
              <span class="portfolio__zoom text-white">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="36"
                  height="36"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-maximize"
                >
                  <path
                    d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"
                  ></path>
                </svg>
              </span>
              <h3 class="portfolio__title text-white">Illustration</h3>
              <p class="portfolio__desc text-white">
                Promote your blog posts, case udie, and thehe branded
                videos.
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="element-item web" data-category="web">
        <div class="portfolio__card">
          <a
            href="#"
            class="popup-modal--open display-block"
            data-bs-toggle="modal"
            data-bs-target="#portfolioModal"
          >
            <div class="portfolio__image--card">
              <img
                src="{% static 'app/assets/img/other/portfolio8.png' %}"
                alt="img"
              />
            </div>
            <div class="portfolio__content">
              <span class="portfolio__zoom text-white">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="36"
                  height="36"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-maximize"
                >
                  <path
                    d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"
                  ></path>
                </svg>
              </span>
              <h3 class="portfolio__title text-white">Illustration</h3>
              <p class="portfolio__desc text-white">
                Promote your blog posts, case udie, and thehe branded
                videos.
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="element-item mobile" data-category="mobile">
        <div class="portfolio__card">
          <a
            href="#"
            class="popup-modal--open display-block"
            data-bs-toggle="modal"
            data-bs-target="#portfolioModal"
          >
            <div class="portfolio__image--card">
              <img
                src="{% static 'app/assets/img/other/portfolio9.png' %}"
                alt="img"
              />
            </div>
            <div class="portfolio__content">
              <span class="portfolio__zoom text-white">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="36"
                  height="36"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-maximize"
                >
                  <path
                    d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"
                  ></path>
                </svg>
              </span>
              <h3 class="portfolio__title text-white">Illustration</h3>
              <p class="portfolio__desc text-white">
                Promote your blog posts, case udie, and thehe branded
                videos.
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>