{% load static %}

<section class="services__section section--padding" id="services">
  <div class="container">
    <div
      class="section__heading--topbar d-flex align-items-center justify-content-between mb-50"
    >
      <div class="section__heading max-width-580">
        <span class="section__heading--subtitle text__secondary"
          >TECH SERVICES</span
        >
        <h2 class="section__heading--title">How can I help your business</h2>
      </div>
      <div class="section__heading--right max-width-450">
        <p class="section__heading--desc">
          I offer a full range of web development services, from responsive
          design to custom applications, aiming to enhance your online presence.
          With expertise in digital marketing, including traffic management, I
          collaborate closely with you to achieve exceptional results.
        </p>
      </div>
    </div>
    <div class="services__section--inner">
      <div class="row mb--n30 d-flex flex-row flex-wrap justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-6 mb-30">
          <div class="services__card">
            <span class="services__card--icon color2 mb-25">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <rect x="3" y="3" width="18" height="18" rx="2" ry="2" />
                <line x1="3" y1="9" x2="21" y2="9" />
                <line x1="9" y1="21" x2="9" y2="9" />
              </svg>
            </span>
            <div class="services__card--content">
              <h3 class="services__card--title mb-15">Frontend</h3>
              <p class="services__card--desc mb-20">
                Using Vue.js, Bootstrap, and Bulma, I design modern and
                responsive user interfaces, ensuring an engaging online
                presence.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-30">
          <div class="services__card">
            <span class="services__card--icon color2 mb-25">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <polyline points="16 18 22 12 16 6" />
                <polyline points="8 6 2 12 8 18" />
              </svg>
            </span>
            <div class="services__card--content">
              <h3 class="services__card--title mb-15">Backend</h3>
              <p class="services__card--desc mb-20">
                With Django, Supabase, MongoDB, and cloud tools, I craft backend
                solutions for seamless functionality and data management on your
                platform.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-30">
          <div class="services__card">
            <span class="services__card--icon color2 mb-25">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <rect x="5" y="2" width="14" height="20" rx="2" ry="2" />
                <line x1="12" y1="18" x2="12.01" y2="18" />
              </svg>
            </span>
            <div class="services__card--content">
              <h3 class="services__card--title mb-15">Mobile</h3>
              <p class="services__card--desc mb-20">
                Utilizing Dart and Flutter, I develop sleek and dynamic mobile
                applications, ensuring an immersive user experience across
                platforms.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-30">
          <div class="services__card">
            <span class="services__card--icon color2 mb-25">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <rect x="2" y="3" width="20" height="14" rx="2" ry="2" />
                <line x1="8" y1="21" x2="16" y2="21" />
                <line x1="12" y1="17" x2="12" y2="21" />
              </svg>
            </span>
            <div class="services__card--content">
              <h3 class="services__card--title mb-15">Website</h3>
              <p class="services__card--desc mb-20">
                With HTML, CSS, SASS, and WordPress, I build captivating
                websites for your brand's online presence.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-30">
          <div class="services__card">
            <span class="services__card--icon color2 mb-25">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <circle cx="9" cy="21" r="1" />
                <circle cx="20" cy="21" r="1" />
                <path
                  d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"
                />
              </svg>
            </span>
            <div class="services__card--content">
              <h3 class="services__card--title mb-15">E-commerce</h3>
              <p class="services__card--desc mb-20">
                I harness the capabilities of WooCommerce to craft robust online
                stores that drive sales and enhance customer experiences.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-30">
          <div class="services__card">
            <span class="services__card--icon color2 mb-25">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <circle cx="12" cy="12" r="10" />
                <circle cx="12" cy="12" r="6" />
                <circle cx="12" cy="12" r="2" />
              </svg>
            </span>
            <div class="services__card--content">
              <h3 class="services__card--title mb-15">Lead Generation</h3>
              <p class="services__card--desc mb-20">
                I specialize in lead generation with Meta Ads, Google Ads, GA4,
                and GTM to drive conversions. Let's maximize your business
                growth together.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-30">
          <div class="services__card">
            <span class="services__card--icon color2 mb-25">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <polyline points="23 6 13.5 15.5 8.5 10.5 1 18" />
                <polyline points="17 6 23 6 23 12" />
              </svg>
            </span>
            <div class="services__card--content">
              <h3 class="services__card--title mb-15">SEO</h3>
              <p class="services__card--desc mb-20">
                I optimize your online presence using Semrush, driving organic
                traffic and boosting search engine rankings. Let's elevate your
                visibility and grow your business.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
