{% load static %}

<section class="skills__section section--padding pt-0">
  <div class="container">
    <div
      class="section__heading--topbar d-flex align-items-center justify-content-between mb-50"
    >
      <div class="section__heading max-width-580">
        <span class="section__heading--subtitle text__secondary">SKILLS</span>
        <h2 class="section__heading--title">
          Expertise in Fullstack Technologies
        </h2>
      </div>
      <div class="section__heading--right max-width-450">
        <p class="section__heading--desc">
          Always learning, always growing.<br />
          Fueled by a passion for Technology and Deep Work.
        </p>
      </div>
    </div>
    <div class="skills__section--inner d-flex justify-content-between">
      <div class="skills__step">
        <div class="skills__items">
          <div class="skills__text">
            <span class="skills__name">Python / Django</span>
            <span class="skills__count width_80">80%</span>
          </div>
          <div class="skills__field width_80"></div>
        </div>
        <div class="skills__items">
          <div class="skills__text">
            <span class="skills__name">AWS / Digital Ocean</span>
            <span class="skills__count width_65">65%</span>
          </div>
          <div class="skills__field width_65"></div>
        </div>
        <div class="skills__items">
          <div class="skills__text">
            <span class="skills__name">Supabase / PostgreSQL</span>
            <span class="skills__count width_60">60%</span>
          </div>
          <div class="skills__field width_60"></div>
        </div>
        <div class="skills__items">
          <div class="skills__text">
            <span class="skills__name">WordPress / WooComerce</span>
            <span class="skills__count width_90">90%</span>
          </div>
          <div class="skills__field width_90"></div>
        </div>
        <div class="skills__items">
          <div class="skills__text">
            <span class="skills__name">Git/GitHub</span>
            <span class="skills__count width_80">80%</span>
          </div>
          <div class="skills__field width_80"></div>
        </div>
      </div>
      <div class="skills__step">
        <div class="skills__items">
          <div class="skills__text">
            <span class="skills__name">Tailwind / SASS / Bootstrap</span>
            <span class="skills__count width_90">90%</span>
          </div>
          <div class="skills__field width_90"></div>
        </div>
        <div class="skills__items">
          <div class="skills__text">
            <span class="skills__name">JavaScript / Vue / Alpine.js</span>
            <span class="skills__count width_75">75%</span>
          </div>
          <div class="skills__field width_75"></div>
        </div>
        <div class="skills__items">
          <div class="skills__text">
            <span class="skills__name">Dart / Flutter</span>
            <span class="skills__count width_55">55%</span>
          </div>
          <div class="skills__field width_55"></div>
        </div>
        <div class="skills__items">
          <div class="skills__text">
            <span class="skills__name">Google Ads / Meta Ads / GA4 / GTM</span>
            <span class="skills__count width_90">90%</span>
          </div>
          <div class="skills__field width_90"></div>
        </div>
        <div class="skills__items">
          <div class="skills__text">
            <span class="skills__name">SEO / Semrush / Rank Math</span>
            <span class="skills__count width_80">80%</span>
          </div>
          <div class="skills__field width_80"></div>
        </div>
      </div>
    </div>
  </div>
</section>
