{% extends 'app/base.html' %}

{% load static %} 

{% block title %} 
Alexandre Spindola - Web Developer 
{% endblock %} 

{% block content %}

<main class="main__content_wrapper">
  <!-- Start Hero section -->
  {% include "app/containers/hero.html" %}
  <!-- End Hero section -->

  <!-- Start sevices section -->
  {% include "app/containers/services.html" %}
  <!-- End sevices section -->

  <!-- Start about section -->
  {% include "app/containers/about.html" %}
  <!-- End about section -->

  <!-- Start brand section -->
  {% include "app/containers/brand.html" %}
  <!-- End brand section -->

  <!-- Start resume section -->
  {% include "app/containers/resume.html" %}
  <!-- End resume section -->

  <!-- Start skills Section -->
  {% include "app/containers/skills.html" %}
  <!-- End skills Section -->

  <!-- Start portfolio section -->
  {% include "app/containers/portfolio.html" %}
  <!-- End portfolio section -->

  <!-- Start testimonial section -->
  {% include "app/containers/testimonials.html" %}
  <!-- End testimonial section -->

  <!-- Start contact section -->
  {% include "app/containers/contact.html" %}
  <!-- End contact section -->

  <!-- Blog section (future feature) -->
</main>

<!-- Start portfolio modal -->
{% include "app/components/portfolio-modal.html" %}
<!-- End portfolio modal -->

<!-- Scroll top bar -->
{% include "app/components/scroll-top-bar.html" %}
<!-- End Scroll top bar -->

{% endblock %}